arxiv
h5py
kaggle
numpy
openpyxl
pandas
pandas-datareader
polygon-api-client
scikit-learn
scipy
seaborn
statsmodels
jupyter
jupyter_http_over_ws
jupyter-ai
langchain-openai
langchain-anthropic
llama-index
transformers
safetensors
datashader
dask==2024.12
holoviews
matplotlib
plotly
